.Container_Dsb{
    padding-top: 0.2rem;
    width: 15rem;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
}
.slidbar_components{
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - 3.6rem);
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.slidbar_components::-webkit-scrollbar{
    display: none;
}
.option_box_Dsb{
    margin: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(128, 128, 128, 0.293);
    /* border: 1px solid white; */
}
.options_div_Dsb{
    cursor: pointer;
    padding: 0%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    /* border: 1px solid white; */
}
.options_div_Dsb:hover{
    background-color: rgb(43, 43, 43);
}
.active_Dsb{
    background-color: rgb(43, 43, 43);
    /* color: white; */
    /* border: 1px solid red; */
}
.option_Dsb{
    margin-left: 1rem;
    /* margin-right: 0.5rem; */
    color: rgb(255, 255, 255,0.855);
    font-size: small;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.icon_sidebar_Dsb{
    padding: 0;
    margin: auto;
    margin-left: 1rem;
    margin-right: 0.5rem;
    /* border: 1px solid red; */
}