.container_Lsb{
  background-color: rgb(18, 18, 18);
  /* width: 4.4rem; */
  height: calc(100vh - 2.5rem);
  box-sizing: border-box;
  overflow-y: hidden;
}
.icon_sidebar_div_Lsb{
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  border-radius: 0.6rem;
  /* border: 1px solid red; */
}
.icon_sidebar_div_Lsb:hover{
  background-color: rgb(51,51,51);
}
.icon_sidebar_Lsb{
  margin: auto;
}
.text_sidebar_Lsb{
  padding: 0.3rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 0.65rem;
  font-weight: 500;
}