.container_WH{
    width: 100%;
    display: flex;
    height: auto;
    gap: 2%;
    /* border: 1px solid red; */
}
.Vid_part2_WH{
    padding: 1%;
    width: 50vw;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}