.container_Sb{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    /* border: 1px solid rgb(37,37,37); */
    /* border: 1px solid rgb(225, 255, 0); */
}
.child_cont_Sb{
    width: 84%;
    height: auto;
    display: flex;
    align-items: center;
    justify-self: center;
    border-radius: 3rem;
    /* border: 1px solid rgb(37,37,37); */
    /* border: 1px solid rgb(9, 229, 86); */
}
.input_Sb{
    padding: 1.5%;
    padding-left: 3%;
    height: auto;
    width: 86%;
    color: white;
    font-size: medium;
    box-sizing: border-box;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    background-color: rgb(18,18,18);
    border: 1px solid rgb(37,37,37);
    /* border: 1px solid rgb(46, 12, 216); */
}
.FaSearch_div_Sb{
    margin: 0;
    padding: 1.5%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255,255,255,0.855);
    box-sizing: border-box;
}
.FaS1_Sb{
    width: 10%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: rgb(37,37,37);
}
.FaS2_Sb{
    width: 14%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: rgb(51,51,51);
}
.Mic_Sb{
    cursor: pointer;
    margin: 0;
    padding: 1.5%;
    width: auto;
    height: auto;
    border-radius: 3rem;
    color: white;
    background-color: rgb(51,51,51);
}
