*{
    box-sizing: border-box;
}
.container_VP{
    overflow-y: auto;
    width: auto;
    height: auto;
    padding: 1%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(18,18,18);
    /* border: 1px solid rgb(0, 255, 34); */
}
.Vid_part1_VP{
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    width: 60%;
    height: auto;
    /* height: fit-content; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(60, 0, 255); */
}
.Vid_part2_VP{
    margin: 0;
    width: 38%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}
.vidBox_VP{
    margin: 0;
    padding: 0;
    height: fit-content;
    max-height: 65vh;
    object-fit: cover;
    border-radius: 1rem;
    /* height: auto; */
    /* border: 1px solid rgb(0, 225, 255); */
}
.vid_VP{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.vidTitle_VP{
    margin: 0;
    padding: 0;
    padding-top: 0.6rem;
    padding-bottom: 1rem;
    font-size: larger;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255,255,255,0.855);
    /* border: 1px solid red; */
}
.Options_div_VP{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-wrap: wrap;
    gap: 0.1%;
    /* border: 1px solid red; */
}
.L_S_M_div_VP{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 2%;
    /* border: 1px solid blue; */
}
.char_div_VP{
    cursor: pointer;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 20%;
    /* border: 1px solid rgb(13, 207, 87); */
}
.char0_VP{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    border-radius: 50%;
}
.uploader_VP{
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: auto;
    text-wrap: wrap;
    font-size: larger;
    color: rgb(255,255,255,0.855);
    /* border: 1px solid rgb(0, 255, 34); */
}
.box_div_VP{
    cursor: pointer;
    margin: 0;
    height: 70%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 49, 49);
    border-radius: 3em; 
    /* border: 1px solid gray; */
}
.padding_VP{
    padding: 0.2rem 0.5rem;
}
.hover:hover{
    background-color: rgba(100, 100, 100, 0.507);
}
.LD_div_VP{
    height: 100%;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid rgb(8, 244, 83); */
}
.LD_1_VP{
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
.LD_2_VP{
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.Vline_VP{
    margin: 0;
    padding: 0;
    width: 0.08rem;
    height: 1.4rem;
    background-color: gray;
    /* border: 1px solid rgb(63, 50, 205); */
}
.box_div_VP p{
    margin: 0;
    padding: 0;
    font-size:small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255,255,255,0.855);
}
.more_VP{
    margin: 0;
    height: 70%;
    width: 14%;
    padding: 0%;
    align-items: center;
    justify-content: center;
    gap: 0.18rem;
    /* border: 1px solid white; */
}
.more_VP p{
    margin: 0;
    padding: 0;
    height: 10%;
    width: 8%;
    background-color: rgb(255,255,255,0.855);
    border-radius: 2em;
}
.icon_VP{
    margin: 0;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    color: rgb(255,255,255,0.855);
    position: relative;
    right: 2%;
}
/* .vid_list_VP{
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid greenyellow;
} */
.comments_div_box_VP{
    margin: 0;
    margin-top: 2%;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(0, 255, 34); */
}
.cmt_box_h1_VP{
    margin: 0;
    padding: 0.5rem;
    font-size: larger;
    font-weight: bold;
    color: rgb(255,255,255,0.855);
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid rgb(0, 255, 34); */
}
.add_comment_VP{
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    /* border: 1px solid rgb(0, 255, 34); */
}
.char0_cmt_VP{
    margin: 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    border-radius: 50%;
    /* border: 1px solid rgb(176, 13, 51); */
}
.comentTextBox_VP{
    margin: 0;
    padding: 0;
    width: 91%;
    height: auto;
    min-height: 3rem;
    display: flex;
    flex-direction: column;
}
.input_add_cmt_VP{
    outline: none;
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    min-height: 3rem;
    height: auto;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255,255,255,0.855);
    background-color: rgb(49, 49, 49);
    border-radius: 1rem;
    border: none;
    flex-wrap: wrap;
    text-wrap: wrap;
    /* border-bottom: 1px solid rgb(255, 255, 255, 0.855); */
    /* background-color: rgb(18, 18, 18); */
}
.btn_CommentBox_VP{
    margin: 0;
    margin-top: 1%;
    padding: 1%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2%;
    /* border: 1px solid rgb(0, 255, 34); */
}
.btn_comment_VP{
    margin: 0;
    padding: 0.5rem 1rem;
    width: fit-content;
    height: auto;
    font-size: small;
    color: rgb(255,255,255,0.855);
    background-color: rgb(49, 49, 49);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
.all_cmts_VP{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}