.contaner_nbar{
    overflow-x: hidden;
    width: auto;
    display: flex;
    height: 10vh;
    align-items: center;
    background-color: rgb(18, 18, 18);
    justify-content: space-between;
    /* border: 1px solid wheat; */
}
.leftslide_nbar{
    display: flex;
    height: 3.3rem;
    /* border: 1px solid wheat; */
}
.grid_nbar{
    cursor: pointer;
    margin: 0.2rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid transparent;
    border-radius: 3rem;
    /* border: 1px solid blue; */
}
.grid_nbar:hover{
    background-color: rgb(41,41,41);
}
.grid_nbar p{
    margin: 0.5px;
    width: 1.2rem;
    height: 0.1rem;
    background-color: rgb(255,244,244);
}
.logoTitle_nbar{
    display: flex;
    text-decoration: none;
}
.search_nbar{
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 3rem;
    max-height: 100%;
    width: 50%;
    min-width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(255, 5, 5); */
}
.sign_div_nbar{
    cursor: pointer;
    height: 40%;
    width: auto;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_nbar{
    object-fit: cover;
    width: 40px;
    padding: 10px 3px 10px 3px;
}
.logoSign_nbar{
    margin: 1%;
    padding: 0.2em;
    width: 5.5em;
    /* border: 1px solid white; */
    border: 1px solid rgb(56, 79, 196);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.userIcon_nbar{
    object-fit: cover;
    /* color: white; */
    color: rgb(56, 79, 196);
    margin: 0.2rem;
}
.sign_nbar{
    margin: 1%;
    padding-bottom: 0.5%;
    /* color: white; */
    color: rgb(56, 79, 196);
    display: flex;
    align-items: center;
}
.userLogo_nbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: white;
    background-color: rgb(56, 79, 196);
}
.title_nbar{
    margin: auto;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.icons_div_nbar{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.app_Box{
    cursor: pointer;
    width: 20px ;
    margin: auto 0.7rem;
    height: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.appBox{
    border: 1px solid white;
    margin: 0.1rem;
    width: 2px;
    height: 2px;
}
.icons_nbar{
    cursor: pointer;
    margin: 1rem;
    color: white;
}